<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<nav *ngIf="mostrarmenu">
    <div class="nav-wrapper blue darken-4 z-depth-5">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><i class="material-icons right" routerLink="">home</i></li>
            <li><a routerLink="/candidatos">Candidato</a></li>
            <li><a routerLink="/concursos">Concurso</a></li>
        </ul>
        <i class="large material-icons right" routerLink="/login">person</i>
    </div>
</nav>