<h4>Cadastrar concurso</h4>
    <table class="table">
        <tr>
            <td>Nome</td>
            <td> <input type="text" id="nome" name="nome" class="form-control" [(ngModel)] = "concurso.nome" required> </td>
        </tr>
        <tr>
            <td>Quantidade De Vagas</td>
            <td><input type="number" id="quantidadeVagas" name="quantidadeVagas" min="0"class="form-control" [(ngModel)] = "concurso.quantidadeVagas" required></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><button class="btn waves-effect waves-light right" (click)="salvar()">Salvar</button></td>
        </tr>
    </table>
