<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="{{classBody}}">
    <div class="container">
        <div class="content first-content z-depth-5">
            <div class="first-column">
                <h2 class="title title-primary">Bem vindo!</h2>
                <button id="signin" class="btn blue darken-4 z-depth-5"  (click)="login()">Login</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">criar conta</h2>
                <form class="form">
                    <div class="input-field col s6">
                        <input id="nome" name="nome" type="text" class="validate" >
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="cpf" name="cpf" type="text" class="validate">
                        <label for="cpf">CPF</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="senha" name="senha" type="password" class="validate">
                        <label for="senha">Senha</label>
                    </div>
                    <button class="btn blue darken-4 z-depth-5">Cadastrar</button>
                </form>
            </div><!-- second column -->
        </div><!-- first content -->
        <div class="content second-content z-depth-5">
            <div class="first-column">
                <h2 class="title title-primary">Ola!</h2>
                <p class="description description-primary">Entre com os dados pessoais</p>
                <p class="description description-primary">e desfrute de nossos serviços</p>
                <button id="signup" class="btn blue darken-4 z-depth-5" (click)="cadastrar()">Cadastrar</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Conecte-se com a gente!</h2>
                <form class="form">
                    <div class="input-field col s6">
                        <input id="cpfLogin" name="cpfLogin" type="text" class="validate">
                        <label for="cpf">CPF</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="senhaLogin" name="senhaLogin" type="password" class="validate">
                        <label for="senhaLogin">Senha</label>
                    </div>
                    <a class="password" href="#">Esqueceu a senha?</a>
                    <button class="btn blue darken-4 z-depth-5">logar</button>
                </form>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>

</body>