<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<form>
    <div class="container light-blue lighten-5 z-depth-5">
        <h5 class="center">Login</h5>
        <table class="table">
            <tr>
                <label for="cpf">CPF</label>
                <td><input type="text" id="cpf" [clearIfNotMatch]="true" type="text" mask="000.000.000-99" required></td>
            </tr>
            <tr>
                <label for="nome">Senha</label>
                <td> <input type="password" id="senha" name="senha" required></td>
            </tr>
            <tr>
                <label></label>
                <td><button class="btn  blue z-depth-2">Cadastrar-se</button>
                    <button class="btn waves-effect waves-light right z-depth-2">Logar</button>
                </td>
            </tr>

        </table>
    </div>
</form>