<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="{{classBody}}">
    <div class="container">
        <div class="content first-content z-depth-5">
            <div class="first-column">
                <h2 class="title title-primary">Bem vindo!</h2>
                <button id="signin" class="btn blue darken-4 z-depth-5" (click)="formlogin()">Login</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Criar conta</h2>
                <div class="input-field col s6">
                    <input [(ngModel)]="candidato.nome" id="nome" name="nome" type="text" class="validate">
                    <label for="nome">Nome</label>
                </div>
                <div class="input-field">
                    <input [(ngModel)]="candidato.cpf" id="cpf" name="cpf" [clearIfNotMatch]="true" type="text" mask="000.000.000-99" class="validate">
                    <label for="cpf">CPF</label>
                </div>
                <div class="input-field col s6">
                    <input [(ngModel)]="candidato.senha" id="senha" name="senha" type="password" class="validate">
                    <label for="senha">Senha</label>
                </div>
                <button class="btn blue darken-4 z-depth-5" (click)="cadastrar()">Cadastrar</button>
            </div>
        </div>
        <div class="content second-content z-depth-5">
            <div class="first-column">
                <h2 class="title title-primary">Olá!</h2>
                <p class="description description-primary">Entre com os dados pessoais</p>
                <p class="description description-primary">e desfrute de nossos serviços</p>
                <button id="signup" class="btn blue darken-4 z-depth-5" (click)="formCadastro()">Cadastrar</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Conecte-se com a gente!</h2>
                <div class="input-field col s6">
                    <input [(ngModel)]="candidato.cpf" id="cpfLogin" name="cpfLogin" [clearIfNotMatch]="true" type="text" mask="000.000.000-99" class="validate">
                    <label for="cpfLogin">CPF</label>
                </div>
                <div class="input-field col s6">
                    <input [(ngModel)]="candidato.senha" id="senhaLogin" name="senhaLogin" type="password"
                        class="validate">
                    <label for="senhaLogin">Senha</label>
                </div>
                <a class="password" href="#">Esqueceu a senha?</a>
                <button class="btn blue darken-4 z-depth-5" (click)="logar()">logar</button>

            </div>
        </div>
    </div>

</body>