<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<form>
    <div class="container grey lighten-3 z-depth-5">
        <h4 class="center">Cadastrar candidato</h4>

        <table class="table">
            <tr>
                <td>Nome</td>
                <td class="input-field"> <input type="text" id="nome" name="nome" class="validate"
                        [(ngModel)]="candidato.nome" #nome="ngModel" required>
                    <div *ngIf="!nome.valid || nome.touched">{{erroCampoNulo}}</div>
                </td>
            </tr>
            <tr>
                <td>CPF</td>
                <td class="input-field"><input [clearIfNotMatch]="true" type="text" mask="000.000.000-99" id="cpf" name="cpf"
                        class="validate" [(ngModel)]="candidato.cpf" required></td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td><input type="text" id="cidade" name="cidade" class="validate" [(ngModel)]="candidato.cidade">
                </td>
            </tr>
            <tr>
                <td>Senha</td>
                <td><input type="text" id="senha" name="senha"class="validate" [(ngModel)]="candidato.senha">
                </td>
            </tr>
            <tr>
                <label></label>
                <td colspan="2"><button class="btn waves-effect waves-light right" (click)="salvar()">Salvar</button>
                </td>
            </tr>
        </table>
    </div>
</form>