<h4>Cadastrar candidato</h4>

    <table class="table">
        <tr>
            <td>Nome</td>
            <td> <input type="text" id="nome" name="nome" class="form-control" [(ngModel)] = "candidato.nome" required> </td>
        </tr>
        <tr>
            <td>CPF</td>
            <td><input type="number" id="cpf" name="cpf" min="11" max="11" class="form-control" [(ngModel)] = "candidato.cpf" required></td>
        </tr>
        <tr>
            <td>Cidade</td>
            <td><input type="text" id="cidade" name=cidade class="form-control" [(ngModel)] = "candidato.cidade" required></td>
        </tr>
        
        <tr>
            <td colspan="2"></td>
            <td><button class="btn waves-effect waves-light right" (click)="salvar()">Salvar</button></td>
        </tr>
    </table>
